<!--<c-footer>-->
  <div>
    <!-- <a href="https://coreui.io/pro/angular/" target="_blank">CoreUI</a>
    <span> &copy; 2021 creativeLabs</span> -->
  </div>
  <div class="ms-auto">
   <b style=" font-family: 'Euclid Circular A';
   font-weight: 300;"> © 2022 Copyright: Dashboard,<a style="text-decoration: none;" target="_blank" href="https://hmis.gov.np/">IHIMS</a> , System developed by: <a style="text-decoration: none;" target="_blank" href="https://www.unicef.org/nepal/ne">UNICEF</a>  </b>
    <!-- <a href="https://coreui.io/pro/angular" target="_blank">
      <span> CoreUI v4 for Angular</span>
    </a> -->
  </div>
<!--</c-footer>-->
